{{ define "footer" }}
    <div class="container">
        <div class="row">
            <div class="col">
                <hr>
                <small class="text-muted">Copyright &copy; Golang Project</small>
            </div>
        </div>
    </div>
{{ end}}